<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>{{title}} | ChamGeeks</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" />
  </head>
  <body>
    {{{body}}}

    <div class="footer">
      Made with ❤️&nbsp; by <a href="https://www.facebook.com/groups/chamgeeks/">ChamGeeks</a>
    </div>
  </body>
</html>
